* {
  font-family: "Roboto";
}
.container {
  padding-top: 40px;
  height: 350px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.box-container--left {
  padding: 0px 20px;
  width: 60%;
  height: 267px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
}
.box-container--right {
  width: 40%;
  height: 267px;
}
.box-container--right > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.box-container--title {
  font-size: 24px;
  font-weight: 500;
}
.box-container--subtitle {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 400;
}
